name: Build and Test

on:
  issue_comment:
    types:
      - created
  pull_request:
    types:
      - opened 
  workflow_dispatch:

jobs:
  build-and-test:
    if: github.event_name == 'workflow_dispatch' || contains(github.event.comment.body, '/run tests') || github.event_name == 'pull_request'
    uses: IgorTodorovskiIBM/meta/.github/workflows/build_and_test.yml@main
    secrets: inherit
